.fundo{
   background: fixed url("../images/img.png")
  
}

.pessoas{
    margin: 0;
    position: absolute;
    left: 89.41%;
    margin-top: -0.05%;
    margin-right: -40%;
    border: solid #5a6069 1px;
    width: 200px;
    height: 100% ;
    position: fixed;
    
}

.botaoAdicionar{
    display: flex;
    margin-left: 120px;
    margin-top: -14px;
}
.nameSujestao{
    background-color: aquamarine;
    border: solid aqua 5px;
}
.users{
    background-color: chartreuse;
    display: inline;
    margin-left: 15px;
}
.users:hover{
    background-color: blueviolet;
}
.seusAmigos{
    background-color: chartreuse;
    margin-left: 15px;
    display: table;
    margin-top: 5px;
}
.seusAmigos:hover{
    background-color: blueviolet;
}
.conversar{
    display: flex;
    margin-left: 120px;
    margin-top: -18px;
}
.todosAmigos{
    margin-top: 9px;
}
.barra{
    background: linear-gradient(#526ba1, #3b5998);
    margin-top: 15;
    height: 50px;
    color: white;
    font-size: 30px;
    display: flow-root;
    
}
.text-seusAmigos{
    background-color: aquamarine;
    border: solid aqua 5px;
    
}
.Amigos{
    margin-top: 8px;
}
.texto-barra{
    margin-left: 0;
    margin-top: 0.5%;
    display: block;
    font-family:'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    text-align: center;
    
}
.sair{
    margin-left: 80%;
    margin-top: -1.4%;
    width: 50px;
    height: 20px;
    display: block;
}
#usuariosAdicionar{
    margin-top: 10px;
}
.nameSujestao{
    margin-top: 5px;
    text-align: center;
}
.publicar{
    margin-top: 2%;
    margin-left: 33%;
}
#divResultado{
    margin-left: 35%;
    margin-top: 2%;
    border: solid black 1px;
    display: inline-block;
    width: 450px;
    height: 150px;
}
#geral{
    width: 600px;
    border: 10px solid rgb(0, 184, 255);
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    background-color: rgb(20, 50, 88);
}
.postagem{
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    background: #8af1ff
}
.pub-escrita{
    width: 582px;
    height: 150px;
    margin-top: 5px;
    font-size: 20px;
    
}
.publicar{
    margin-left: 24%;
}
.postagem-paragrafo{
    width: 600px;
    border: solid 5px #03dffc;
    background-color: #435673;
    padding: 10px;
    margin: 0 auto;
    margin-top: -5px;
    font-size: 25px;
    color: white;
    display: block;
    box-shadow: 6px 6px 0px rgb(255 0 0);
    word-wrap: break-word;
}
.postagem-img{
    width: 600px;
    border: solid 5px #03dffc;
    background-color: #435673;
    padding: 10px;
    margin: 0 auto;
    margin-top: -3px;
    font-size: 25px;
    color: white;
    display: block;
    box-shadow: 6px 6px 0px rgb(255 0 0);
}
.oquePublicar{
    margin-top: 5px;
}
#publicacao{
    padding: 10px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 25px;
    color: white;
    display: block;
}
.data-pub{
    color: white;
}
.postagem-video{
     width: 600px;
    border: solid 5px #03dffc;
    background-color: #435673;
    padding: 10px;
    margin: 0 auto;
    margin-top: -5px;
    font-size: 25px;
    color: white;
    display: block;
    box-shadow: 6px 6px 0px rgb(255 0 0);
    
}
.modo{
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-top: -1.6%;
    display: block;
    margin-left: 30px;
    

}
.modo1{
    width: 38px;
    height: 38px;
    cursor: pointer;
    margin-top: -2.05%;
    display: block;
    margin-left: 85px;
}
#nomeDaPessoa{
    background-color: black;
}
#text-dentro-pub{
    background-color: black;
    width: 150px;
}
.nomeDeQuemPublicou{
    width: 600px;
    border: solid 5px #03dffc;
    background-color: #03dffc;
    color: black;
    padding: 10px;
    margin: 0 auto;
    margin-top: -12px;
    font-size: 18px;
    display: block;
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    box-shadow: 6px 6px 0px rgb(255 0 0);
}
.dataPub{
    margin-left: 54.5%;
    font-size: 13px;
    margin-top: 1%;
    display: inline-flex;
    z-index: 1;
    background-color: #ce6938;
    border-radius: 15px;
    width: 220px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);

}
.textinhos{
    display: flex;
    
}
.pessoaLogada{
    margin-left: 50%;

}